<!-- <html> -->
<%= form_with(model: issue) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% issue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :assigned_to %>
    <%= form.text_field :assigned_to %>
  </div>

  <div class="field">
    <%= form.label :client_project %>
    <%= form.text_field :client_project %>
  </div>

  <div class="field">
    <%= form.label :severity_level %>
    <%= form.select(:severity_level, [['Low', 'low'], ['Medium', 'medium'], ['Urgent', 'urgent']]) %>
  </div>

  <div class="field">
    <%= form.label :date_created %>
    <%= form.datetime_local_field :date_created %>
  </div>

  <div class="field">
    <%= form.label :resolve_status %>
    <%= form.select(:resolve_status, [['Unresolved', 'unresolved'], ['Resolved', 'resolved']]) %>
  </div>

  <div class="field">
    <%= form.label :resolved_date %>
    <%= form.datetime_local_field :resolved_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
