<div id="<%= dom_id issue %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= issue.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= issue.description %>
  </p>



  <p>
    <strong>Assigned to:</strong>
    <%= issue.assigned_to %>
  </p>

  <p>
    <strong>Client Project:</strong>
    <%= issue.client_project %>
  </p>



  <p>
    <strong>Date and Time Issue Created:</strong>
    <%= issue.date_created %>
  </p>

  <p>
    <strong>Resolve Status:</strong>
    <%= issue.resolve_status %>
  </p>

  <p>
    <strong>Date and Time Resolved By:</strong>
    <%= issue.resolved_date %>
  </p>

  <p>
    <%= link_to "Show this issue", issue %>
  </p>
</div>
